@model TOTVS.Models.ViewModels.CompraVM

@{
    ViewData["Title"] = "Index";
}

<h3>Produtos</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Produto
            </th>
            <th>
                Valor Individual
            </th>
            <th>
                Comprar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaProdutos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorIndividual)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h3>Seu Carrinho</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Valor Individual
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Remover
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaProdutosDoPedido)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.ValorIndividual)
                </td>
                <td>
                    Valor X
                </td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>